{% extends "base.html" %}
{% block title %}Lista de coches{% endblock %}
{% block content %}

{% for coche in coches %}
    <img class="img-coches" src="/{{coche.imagen.url}}" width=200>
    <p style="font-weight: bold;">{{coche.modelo}} | {{coche.precio}}€</p>
    <a href="/{{coche.imagen.url}}"> 
        <button class="btn btn-primary">Ver</button>
    </a>
    {% if not user.is_staff %}
        <a href="/concesionario/reservar/coche">
            <button class="btn btn-success">Reservar</button>
        </a>
    {% endif %}
{% endfor %}

{% if user.is_staff %}
<div class="contenedor-btn-agregar">
    <a href="/concesionario/nueva/compra">
        <button class="btn btn-info">Agregar coche+</button>
    </a>
</div>
{% endif %}

{% endblock %}
