{% extends "base.html" %}
{% block title %}Lista de marcas{% endblock %}
{% block content %}

{% for marca in marcas %}
<img class="img-marcas" src="/{{marca.imagen.url}}"/>
<a href="{{marca.get_url_marca}}"><button class="btn btn-primary">Ver</button></a>
    {% if user.is_staff %}
        <a href="/concesionario/editar/marca/{{marca.nombre}}"><button class="btn btn-warning">Editar</button></a>
        <a href="/concesionario/eliminar/marca/{{marca.nombre}}"><button class="btn btn-danger">Eliminar</button></a>
    {% endif %}
{% endfor %}

{% if user.is_staff %}
    <a href="/concesionario/nueva/marca">
        <button class="btn btn-info">Agregar marca+</button>
    </a>  
{% endif %}

{% endblock %}