{% extends "base.html" %}
{% block titulo %}Nueva compra - Concesionario{% endblock %}
{% block content %}
<div class="formulario">
    <h2>Registro nueva compra</h2>
    <form action="." method="POST" enctype="multipart/form-data" class="formulario_registro">
        <div class="form-group">
            {{ form.as_p }} 
            {% csrf_token %}              
        </div>    
        <input type="submit" class="btn btn-success" value="Guardar" class="boton_registro">       
    </form> 
    <a href="/concesionario/nuevo/coche"> <input type="submit" class="btn btn-info" value="Coche+"> </a> 
</div>
{% endblock %}